# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Upload files
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

